.sidebar-about h1 {
    font-size: 2rem;
    font-family: serif;
}

.theme-base-0d .sidebar {
    background: #181c1f;
}

body {
    background-color: #000;
    color: #c1c4c7;
}

.lead {
    color: #c1c4c7;
}

h1, h2, h3, strong {
    color: white;
}

.max-width-img {
  max-width: 666px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.sidebar-nav li:not(:last-child) {
  margin-bottom: 20px;
}

.sidebar-nav li:last-child a {
  font-size: 0.85em;
}

.sidebar-nav a {
  color: #6a9fb5;
}
